[user]
	name = Stanisław Wasiutyński
	email = staszek.wasiutynski@gmail.com

[core]
  editor = nvim
  
[github]
	user = stanley

[url "https://github.com/"]
    insteadOf = "gh:"
[push]
	default = simple

[alias]
  fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
